
.container
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f3542;
    font-family:"Lexend Deca";  
}   
.calculator
{

    /* transform: translate(50%,-50%);/ */
    border-radius: 10px;
    width: 320px;
    height: 520px;
    background-color: #dfe4ea;
    margin: 0 auto;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}
.output-area
{
    margin: 5px 10px;
    /* border: 1px solid red; */
    text-align: right;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items:stretch;
}
.output-area p
{

    background-color: transparent;
    /* border: 1px solid black; */
    border: none;
    padding: 10px 15px;
    color: black;
    text-align: right;
    font-family: inherit;
    word-wrap: break-all;

}
#history
{
    height: 20px;
    
    padding-top: 20px;
    font-size: 15px;
    color: #919191;
}
#output
{
    height: 40px;
    margin: 5px 0px;
    padding-top: 20px;
    font-size: 30px;
    
}
.buttons
{
    margin: 5px 5px;
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 5px 10px;
    grid-gap: 20px 20px;
}

.buttons button
{
    /* padding: 12px 12px; */
    border: none;
    height: 3.4rem;
    background-color: transparent;
    outline: none;
    border-radius:40px;
    font-size: 0.95rem;    
}

button[value ="/"]
{
    background-color: rgb(255, 71, 87);
    /* color: white;     */
}
button[value ="*"]
{
    background-color: rgb(249, 161, 2);
}
button[value ="-"]
{
    background-color: rgb(255, 107, 129);
}
button[value ="+"]
{
    background-color: rgb(30, 144, 255);
}
button[value ="="]
{
    background-color: rgb(46,213, 115);
}
button[value="allclear"], button[value="backspace"],  button[value="%"]
{
    background-color: rgb(201, 209, 219);
}
button[class="operator"]
{
    font-size: 1.2rem;
}